
<div class="d-flex justify-content-evenly border-bottom mb-5 pt-3">
  <a class="text-decoration-none text-dark fw-bold" href="/profile">About You</a>
  <a class="text-decoration-none text-dark fw-bold" href="/profile/account">Ratings</a>
</div>


<div class="mb-3 d-flex align-items-center flex-column">
  <div class="d-flex justify-content-between mb-2"  style="width: 80%;">
    <div>
      <h1 class="pl-20 fw-bold mt-4">{{currentUser.user}}</h1>
    </div>
    <div>
      <img class="rounded-circle" src="{{#if currentUser.image}} {{currentUser.image}} {{else}}https://cdn.blablacar.com/kairos/assets/images/default-m-818bf2b20d4b06a052dd..svg{{/if}}" alt="profile" width="120px" height="120px">
    </div>
  </div>
</div>



<div class="mb-3 d-flex align-items-center flex-column">
  <div class="d-flex justify-content-between mb-2"  style="width: 88%;">
    <div>
      <h3 class="pl-30 fw-bold mt-4">Ratings you've received</h3>
    </div>
  </div>
</div>





<div class="mb-3 d-flex align-items-center flex-column">
  <div class="d-flex justify-content-between mb-2"  style="width: 88%;">
    <div>
      <h3 class="pl-30 fw-bold mt-4">Ratings you've left'</h3>
    </div>
  </div>
</div>


{{#each currentUser.ratings as |r|}}
  <ul>
    <li>
      User you left rate: {{r.user}}
    </li>
    <li>
       Rate: {{r.rating}}
    </li>
    <li>
      Observations {{r.observations}}
    </li>
  </ul>
{{/each}}