{{#if errors}}
  <div class="alert alert-danger">
    review form data
  </div>
{{/if}}


<h1>Edit User</h1>


<form action="/profile/{{currentUser.id}}" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="user" class="form-label">User</label>
      <input type="text" value="{{currentUser.user}}" name="user" id="user" class="form-control {{#if errors.user}}is-invalid{{/if}}" placeholder="User">
      {{#if errors.user}}<div class="invalid-feedback">{{errors.user}}</div>{{/if}}
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" value="{{currentUser.name}}" name="name" id="name" class="form-control {{#if errors.name}}is-invalid{{/if}}" placeholder="Name">
      {{#if errors.name}}<div class="invalid-feedback">{{errors.name}}</div>{{/if}}
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" value="{{currentUser.lastName}}" name="lastName" id="lastName" class="form-control {{#if errors.lastName}}is-invalid{{/if}}" placeholder="Last Name">
      {{#if errors.lastName}}<div class="invalid-feedback">{{errors.lastName}}</div>{{/if}}
    </div>
    <div class="mb-3">
      <label for="birthdate" class="form-label">Birthdate</label>
      <input type="date" value="{{currenUser.birthdate}}" name="birthdate" id="birthdate" class="form-control {{#if errors.birthdate}}is-invalid{{/if}}">
      {{#if errors.birthdate}}<div class="invalid-feedback">{{errors.birthdate}}</div>{{/if}}
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Profile Image</label>
      <img id="image" class="m-2 rounded-circle" src="{{currentUser.image}}" width="200"/>
      <input type="file" value="{{currenUser.image}}" name="image" id="image" class="form-control">
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>


{{!-- <script>
  document.getElementById("image-imput").onchange = (event) => {
    const newImage = event.target.value;
    const document.getElementById("image").src = newImage;
  }
</script> --}}