<h1>{{currentUser.user}}</h1>

<img src="{{currenUser.image}}" alt="profile photo">

<a href="/photo">Edit Profile Photo</a>

<a href="/profile/{{currentUser.id}}/edit">Edit Personal Info</a>

<h1>You have a Verify Profile</h1>
<li>DNI</li>
<li>{{currentUser.email}}</li>
<li>Phone number</li>
<li>
<img src="{{currentUser.image}}" alt="profile">
</li>
<h1>Additional info</h1>