
<div class="d-flex justify-content-evenly mb-5 border-bottom shadow-sm pt-3">
  <a class="text-decoration-none text-secondary {{#pathActive currentPath '/profile'}} text-decoration-none text-dark fw-bold{{/pathActive}}" href="/profile">About You</a>
  <a class="text-decoration-none text-secondary {{#pathActive currentPath '/profile/ratings'}} text-decoration-none text-dark fw-bold {{/pathActive}}" href="/profile/ratings">Ratings</a>
</div>


<div class="card mx-auto border-0 mb-4" style="width: 80%;">
  <h1 class="ratings">{{ratingAverage currentUser.receivedRatings}}/5</h1>
  <small class="mb-3 text-secondary">
    {{currentUser.receivedRatings.length}} Ratings
  </small>
</div>
<div class="border-bottom border-5 mb-4" style="width: 100%;"></div>
<div class="mb-3 d-flex align-items-center flex-column">
  <div class="d-flex justify-content-between mb-2"  style="width: 88%;">
    <div>
      <h3 class="pl-30 fw-bold mt-4">Ratings you've received</h3>
    </div>
  </div>
</div>
{{#each currentUser.receivedRatings as |r|}}
<div class="mb-3 d-flex align-items-center border-top border-bottom flex-column">
  <div class="d-flex justify-content-between mb-1"  style="width: 80%;">
    <div>
      <h1 class="pl-20 fw-bold mt-4">{{r.sender.name}}</h1>
    </div>
    <div>
      <img class="rounded-circle mt-2" src="{{#if r.sender.image}} {{r.sender.image}} {{else}}https://cdn.blablacar.com/kairos/assets/images/default-m-818bf2b20d4b06a052dd..svg{{/if}}" alt="profile" width="60px" height="60px">
    </div>
  </div>
  <div class="card mx-auto border-0 mb-" style="width: 80%;">
    <h3>{{r.rating}}/5</h3>
     <p>{{r.observations}}</p>
</div> 
</div>
{{/each}}


<div class="border-bottom border-5 mb-4" style="width: 100%;"></div>
<div class="mb-3 d-flex align-items-center flex-column">
  <div class="d-flex justify-content-between mb-2"  style="width: 88%;">
    <div>
      <h3 class="pl-30 fw-bold mt-4">Ratings you've left'</h3>
    </div>
  </div>
</div>
{{#each currentUser.givenRatings as |r|}}
<div class="mb-3 d-flex align-items-center border-top border-bottom flex-column">
  <div class="d-flex justify-content-between mb-1"  style="width: 80%;">
    <div>
      <h1 class="pl-20 fw-bold mt-4">{{r.user.name}}</h1>
    </div>
    <div>
      <img class="rounded-circle mt-2" src="{{#if r.user.image}} {{r.user.image}} {{else}}https://cdn.blablacar.com/kairos/assets/images/default-m-818bf2b20d4b06a052dd..svg{{/if}}" alt="profile" width="60px" height="60px">
    </div>
  </div>
  <div class="card mx-auto border-0 mb-" style="width: 80%;">
    <h3>{{r.rating}}/5</h3>
     <p>{{r.observations}}</p>
</div> 
</div>
{{/each}}

