<h1>Check you trip information</h1>

<div class="card border-0" style="width: 100%;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item border-0">{{trip.from}}</li>
    <li class="list-group-item">{{trip.to}}</li>
    <li class="list-group-item border-bottom border-top border-5">Price: {{trip.price}}€</li>
  </ul>
</div>



<form action="/trips/{{trip.id}}/book" method="POST">
  <button type="submit" class="publish btn btn-primary rounded-pill text-white mb-5 border-0 fw-normal">Pay {{trip.price}}€</button>
</form>