<h1>Detail of trip</h1>


<div class="card border-0" style="width: 100%;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item border-0">{{trip.from}}</li>
    <li class="list-group-item">{{trip.to}}</li>
    <li class="list-group-item border-bottom border-top border-5">Price: {{trip.price}}€</li>
    <li class="list-group-item border-0" style="width: 80%;">{{trip.user.user}}</li>
    <li class="list-group-item">Escribir a {{trip.user.user}}</li>
    <li class="list-group-item">Date {{trip.date}}</li>
    <li class="list-group-item border-0">Seats</li>
    <li class="list-group-item border-bottom border-2">Car</li>
    <li class="list-group-item">Continuar</li>
  </ul>
</div>



<a class="btn btn-primary" href="{{trip.id}}/edit">Edit</a>


{{#isOwnedBy trip currentUser}}
<form action="/trips/{{trip?.id}}/delete" method="POST">
<button class="btn btn-danger" type="submit">Delete</button>
</form>
{{/isOwnedBy}}

<a
    class="publish btn btn-primary rounded-pill text-white mb-5 border-0 fw-normal"
    href="/trips/{{trip?.id}}/book"
  >Continue</a>






